<div id="modal">
    <form class="form card" (ngSubmit)="onSubmit()">
        <!-- NEW RECORD SECTION -->    
        <h1>
            Add new record
        </h1>
        <div class="fields">
            <div class="half">
                <div class="name">
                    Name
                </div>
                <div class="field">
                    <input type="text" name="name" [(ngModel)]="name" minlength="3">
                </div>
            </div>
            <div class="half">
                <div class="name">
                    Surname
                </div>
                <div class="field">
                    <input type="text" name="surname" [(ngModel)]="surname" minlength="3">
                </div>
            </div>
        </div>
    
        <div class="fields">
            <div class="half">
                <div class="name">
                    Plate letters
                </div>
                <div class="field">
                    <input type="text" name="letters" [(ngModel)]="letters" pattern="[A-Za-z]{3}" minlength="3" maxlength="3">
                </div>
            </div>
            <div class="half">
                <div class="name">
                    Plate numbers
                </div>
                <div class="field">
                    <input type="number" name="numbers" [(ngModel)]="numbers" max="999">
                </div>
            </div>        
        </div>
        <div class="fields">
            <input type="submit" value="CHANGE">
        </div>
        <br/>
    </form>
</div>
