<!-- Editing modal -->
<app-editing-modal
  (amendNumberplate)="amendNumberplate($event)"
  [editnumberplate]="editnumberplate"
>
</app-editing-modal>

<!-- Adding and searching section -->
<app-add-numberplate
  (addNumberplate)="addNumberplate($event)"
></app-add-numberplate> 

<!-- Existing numberplates display -->
<app-numberplate-item 
*ngFor="let numberplate of numberplates" 
[numberplate]="numberplate" 
(deleteNumberplate)="deleteNumberplate($event)"
(editToggle)="editToggle($event)"
>
</app-numberplate-item>
