.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 17px;
}

button:focus {
  outline: none;
}

button:nth-child(1) {
  background-color: #ddd;
}

.confirm {
  background:#eeeeee;
  color: #000;
}

.cancel {
  background:#eeeeee;
  color: #ff0000 !important;
}