//Global styling
@font-face {
    font-family: 'Probolinggo';
    src: url('./assets/Probolinggo/Probolinggo.eot?#iefix') format('embedded-opentype'),  url('./assets/Probolinggo/Probolinggo.woff') format('woff'), url('./assets/Probolinggo/Probolinggo.ttf')  format('truetype'), url('./assets/Probolinggo/Probolinggo.svg#Probolinggo') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'KalosSans-Book';
    src: url('./assets/KalosSans-Book/KalosSans-Book.eot?#iefix') format('embedded-opentype'),  url('./assets/KalosSans-Book/KalosSans-Book.woff') format('woff'), url('./assets/KalosSans-Book/KalosSans-Book.ttf')  format('truetype'), url('./assets/KalosSans-Book/KalosSans-Book.svg#KalosSans-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

  
body {
    font-family: Probolinggo;
    background: #eeeeee;
    letter-spacing: 1px;

    .kalos {
        font-family: KalosSans-Book;
    }

    .card {
        display:flex;
        align-items:center;
        justify-content:space-between;
        flex-direction:row;
        padding: 1em 3em;
        margin: 1em auto;
        width: 50%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
        background-color:#eeeeee;
        border-radius:10px;
        box-shadow: -7px -7px 20px 0px #fff9,
                    -4px -4px 5px 0px #fff9,
                    7px 7px 20px 0px #0002,
                    4px 4px 5px 0px #0001,
                    inset 0px 0px 0px 0px #fff9,
                    inset 0px 0px 0px 0px #0001,
                    inset 0px 0px 0px 0px #fff9,
                    inset 0px 0px 0px 0px #0001;
        transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
    
        .numberplateInfo {
            line-height: 1.4em;
            .owner {
                font-size: 1.4em;
                font-family: KalosSans-Book;
                color: rgb(146, 34, 34);
            }
    
            .plateInfo {
                font-size: 1.6em;
            }
        }
    }

    input[type=text], input[type=number], input[type=submit]{
        box-shadow: 0px 0px 0px 0px #fff9,
            0px 0px 0px 0px #fff9,
            0px 0px 0px 0px #0001,
            0px 0px 0px 0px #0001,
            inset -7px -7px 20px 0px #fff9,
            inset -4px -4px 5px 0px #fff9,
            inset 7px 7px 20px 0px #0003,
            inset 4px 4px 5px 0px #0001;
        border: unset;
        border-radius: 25px;
        padding: 0.25em 1.5em;
        font-family: KalosSans-Book;
        transition: 0.6s;

        &:focus, &:hover {
            outline:0;
            //transform: scale(1.1);
            background: #eeeeee;
            box-shadow: -7px -7px 20px 0px #fff9,
                    -4px -4px 5px 0px #fff9,
                    7px 7px 20px 0px #0002,
                    4px 4px 5px 0px #0001,
                    inset 0px 0px 0px 0px #fff9,
                    inset 0px 0px 0px 0px #0001,
                    inset 0px 0px 0px 0px #fff9,
                    inset 0px 0px 0px 0px #0001;
        }
    }
}